<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Pet Assistant</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="authService.isUserLogged()"><a routerLink="/pets/new">Add Pet</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isUserLogged()">
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ng-template>

        <li *ngIf="authService.isUserLogged()"><a
          style="cursor: pointer;"
          (click)="onLogout()">
          Logout
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
