<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Pet Assistant</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="authService.isUserLogged()"><a routerLink="/pets/new"><i
          class="fas fa-plus"></i> Add Pet</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isUserLogged()">
          <li><a routerLink="/register">Register <i class="fas fa-user-plus"></i></a></li>
          <li><a routerLink="/login">Login <i class="fas fa-user"></i></a></li>
        </ng-template>

        <ng-template [ngIf]="authService.isUserLogged()">
          <li><div class="navbar-text userName">{{authService.getUser().firstName}} {{authService.getUser().lastName}}</div></li>
          <li><a
              style="cursor: pointer;"
              (click)="onLogout()">
              Logout <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
