<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="feedForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="fodderType">Fodder Type</label>
            <input type="text" id="fodderType" formControlName="fodderType" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="portionSize">Portion Size</label>
            <input type="number" id="portionSize" formControlName="portionSize" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="portionSizeUnit">Unit</label>
            <select id="portionSizeUnit" formControlName="portionSizeUnit" class="form-control">
              <option *ngFor="let unit of fodderUnitKeys()" [value]="unit.toString()">
                {{unit}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="time">Time</label>
            <input type="time" id="time" formControlName="time" class="form-control">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
