<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="vaccineForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="visitDate">Visit Date</label>
            <input type="datetime-local" id="visitDate" formControlName="visitDate" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="sicknessType">Sickness Type</label>
            <input type="text" id="sicknessType" formControlName="sicknessType" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" formControlName="location" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
